<!-- Hero section -->
<section id="infinite" class="text-white tm-font-big tm-parallax">
  <!-- Navigation -->
  <nav class="navbar navbar-expand-md tm-navbar" id="tmNav">
    <div class="container">
      <div class="tm-next">
          <a href="#infinite" class="navbar-brand">Travel Palettes</a>
      </div>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars navbar-toggler-icon"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
              <a class="nav-link tm-nav-link" href="#infinite">Home</a>
          </li>
          <li class="nav-item">
              <a class="nav-link tm-nav-link" href="#pallete">Palletes</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="text-center tm-hero-text-container">
    <div class="tm-hero-text-container-inner">
        <h2 class="tm-hero-title">Travel palettes</h2>
        <p class="tm-hero-subtitle">
          Nothing creates palettes better than nature
          <br>Inspirations for you design
        </p>
    </div>
  </div>
</section>
